html {
    font-family: 'IBM Plex Sans', sans-serif;
}
a, a:visited, .link {
    color: #5c00cc;
    font-weight: bold;
    text-decoration: none;
}
a:hover, .link:hover {
    text-decoration: underline;
}
.link {
    cursor: pointer;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    display: inline;
}
button {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #8ABAD3;
}
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
th, td {
    padding: 0 0.2em;
    vertical-align: top;
}
.noPad th, .noPad td {
    padding: 0;
}
th {
    font-weight: bold;
    text-align: left;
    font-size: 0.8em;
}
h1 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}
.pageTitle {
    font-size: 1.5em;
}
.pageTitleDiv {
    margin-top: 0em;
    margin-bottom: 1em;
}
#app {
    width: 55.5em;
    height: auto;
    min-height: 100%;
    background-color: #fff;
    border-left: 0.025em solid #ffe8ff;
    border-right: 0.025em solid #ffe8ff;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4em 0.4em 0 0.4em;
}
#menuHeader {
    margin-bottom: 1em;
}

input, textarea, select {
    border: solid 1px #ad78bd;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
}

.label {
    font-size: 0.8em;
}
.locationInfo .label {
    font-weight: bold;
}

.indent {
    margin-left: 1em;
}

.test {
    font-family: helvetica,sans-serif;
}
.icon {
    height: 1em;
    margin-top: 0.15em;
    vertical-align: top;
}


#peopleFilters .item {
    display: inline-block;
    margin-right: 1em;
}

#resultsHeader {
    background-color: #8ABAD3;
    border-top: 1px solid #ffe8ff;
    border-bottom: 1px solid #ffe8ff;
    margin-top: 1em;
}
#resultsHeader .item {
    display: inline-block;
    margin-left: 1em;
}

.peopleListTable .colLink {
    width:2em;
}
.peopleListTable .colFirst {
    width:7em;
}
.peopleListTable .colLast {
    width:7em;
}
.peopleListTable .colDegree {
    width:4em;
}
.peopleListTable .colMaxDate {
    width:6.4em;

    text-align: center;
}
.peopleListTable .colMinDate {
    width:6.4em;

    text-align: center;
}
.peopleListTable .colCount {
    width:3.3em;
    text-align: center;
}
.mergeRadio {
    display: inline-block;
    padding: 0.15em;
}
.mergeRadio.green {
    background-color: #ddFFdd;
}
.mergeRadio.red {
    background-color: #FFdddd;
}


.initiation .field {
    display: inline-block;
}
.initiation .degree {
    width: 3em;
    text-align: center;
}
.initiation .locationName {
    width: 12em;
}
.initiation .actualDate {
    width: 7em;
    text-align: center;
}
.initiation .person {
    width: 13em;
}
.initiation .view {
    width: 3em;
}



.formLine {
    margin-bottom: 1em;
}
.formLine.indent {
    margin-left: 2em;
}
.formItem.indent {
    margin-left: 2em;
}
.indentBlock {
    width:2em;
}
.formItem {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
}
.formItemTitle {
    font-weight: bold;
    font-size: 0.8em;
}

.personPicker td input {
    margin-right: 1em;
}





.green {
    background-color: #59B934;
}
.grey {
    background-color: #9faeaa;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;

    width: 280px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}
