html {
    font-family: helvetica,sans-serif;
}

.indent {
    margin-left: 1em;
}





.personPage .initiation .field {
    display: inline-block;
}
.personPage .initiation .degree {
    width: 5em;
}
.personPage .initiation .locationName {
    width: 12em;
}

